*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

button[disabled] {
	pointer-events: none;
	border: 1px solid #ccc;
	color: #ccc;
}

.popup-body {
	margin: 0;
	font-size: 16px;
	color: #000;
}

.popup {
	height: 570px;
	width: 650px;
	font-family: MetricWeb-Regular, arial, sans-serif;
}

.popup__header {
	display: flex;
	margin: 10px 10px 0 10px;
	background-color: #444;
	height: 50px;
	line-height: 30px;
    padding: 10px;
}

.popup__header__image {
	width: 30px;
	height: 30px;
}

.popup__header__title {
	margin-left: 5px;
	font-size: 25px;
	color: #fff;
}

.popup__header__version {
	margin-left: 4px;
	margin-top: 4px;
	font-size: 12px;
	color: #fff;
}

.popup__content {
	height: 450px;
	margin: 10px 10px 0 10px;
}

.popup__content__config {
	width: 100%;
	height: 100%;
	outline: none;
	background-color: #444;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 14px;
	overflow-y: auto;
	resize: none;
}

.popup__content__config--error {
	background-color: #600;
}

.popup__footer {
	display: flex;
    justify-content: flex-end;
    margin: 10px;
	padding-top: 10px;
    border-top: 1px solid #ddd;
}

.popup__footer__button {
	margin-right: 0;
	margin-left: 10px;
	height: 25px;
	line-height: 23px;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    outline: none !important;
    font-size: 14px;
    cursor: pointer;
}
