*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:focus,
a:active,
a:visited {
	color: #0073e7;
}

html {
	margin: 0;
	padding: 0;
}

button[disabled] {
	pointer-events: none;
	border: 1px solid #ccc;
	color: #ccc;
}

.height--100 {
	height: 100%;
}

.popup-body {
	margin: 0;
	font-size: 16px;
	color: #000;
}

.popup {
	height: 570px;
	width: 800px;
	font-family: MetricWeb-Regular, arial, sans-serif;
}

.popup--header {
	display: flex;
	margin: 10px 10px 0 10px;
	background-color: #444;
	height: 50px;
	line-height: 30px;
    padding: 10px;
}

.popup--header--image {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 4px;
}

.popup--header--title {
	margin-left: 5px;
	font-size: 25px;
	color: #fff;
}

.popup--header--version {
	margin-left: 4px;
	margin-top: 4px;
	font-size: 12px;
	color: #fff;
}

.content {
	height: 450px;
	margin: 10px 10px 0 10px;
}

.content--config {
	display: none;
	width: 100%;
	height: 100%;
	outline: none;
	background-color: #444;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 14px;
	overflow-y: auto;
	resize: none;
}
.popup.show-config .content--config {
	display: block;
}

.content--config--error {
	background-color: #600;
}

.content--toggles {
	height: 40px;
	padding: 3px 0;
}

.content--container {
	height: calc(100% - 40px);
	background-color: #fff;
	overflow: auto;
}

.section-title {
	font-size: 20px;
	font-weight: 700;
}

.content--pr-reviewers {
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #aad;
}
.content--pr-reviewers::before {
	content: "Reviewers: ";
}

.content--pr-assignees {
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #ccc;
}
.content--pr-assignees::before {
	content: "Assignees: ";
}

.role-button{
	width: 80px;
	height: 25px;
	color: #fff;
	border-radius: 4px;
	background-color: #666;
	box-shadow: 0 0 16px #999;
	-webkit-transition: all .2s .1s, right .1s;
	transition: all .2s .1s, right .1s;
}

.button--toggle--true {
	background-color: #696;
}

.button--toggle--false{
	background: #999;
}

.content--container.owner .content--pr-line.owner,
.content--container.reviewer .content--pr-line.reviewer,
.content--container.assignee .content--pr-line.assignee{
	display: grid;
}

.content--pr-line {
	display: none;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	background-color: #eee;
	color: #333;
	padding: 16px;
}
.content--pr-line:nth-child(even) {
	background-color: #ddd;
}

.content--pr-line--top {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto 1fr auto auto;
	gap: 8px;
}

.content--pr-state {
	position: relative;
	top: -4px;
	width: 80px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border-radius: 4px;
	color: #fff;
}
.content--pr-state--open {
	background-color: #2da44e;
}
.content--pr-state--closed {
	background-color: #8250df;
}

.content--pr-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content--pr-line--bottom {
	margin-top: 8px;
	display: flex;
	gap: 10px;
}

.popup--footer {
	display: flex;
    justify-content: flex-end;
    margin: 10px;
	padding-top: 10px;
    border-top: 1px solid #ddd;
}

.popup--footer--button {
	margin-right: 0;
	margin-left: 10px;
	height: 25px;
	line-height: 23px;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    outline: none !important;
    font-size: 14px;
    cursor: pointer;
}

.popup.show-config .popup--footer--button--config,
.popup.show-config .popup--footer--button--go,
.popup.show-config .content--toggles,
.popup.show-config .content--container {
	display: none;
}
.popup:not(.show-config) .popup--footer--button--cancel,
.popup:not(.show-config) .popup--footer--button--defaults,
.popup:not(.show-config) .popup--footer--button--save {
	display: none;
}

.build-info {
	display: flex;
	align-items: center;
}

.build-title {
}

.build-led {
	position: relative;
	top: -1px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin: 6px;
	border-radius: 50%;
	transition: all 0.5s ease-in-out 0s;
}
.build-led--green {
	background-color: rgb(0, 204, 0);
	box-shadow: rgb(0, 204, 0) 0 0 10px;
}
.build-led--red {
	background-color: rgb(204, 0, 0);
	box-shadow: rgb(204, 0, 0) 0 0 10px;
}
.build-led--gray {
	background-color: rgb(204, 204, 204);
	box-shadow: rgb(204, 204, 204) 0 0 10px;
}
.build-led::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	transition: all 0.5s ease-in-out 0s;
}
.build-led--green::before {
	background-color: rgb(0, 255, 0);
	box-shadow: rgb(0, 255, 0) 0 0 4px;
}
.build-led--red::before {
	background-color: rgb(255, 0, 0);
	box-shadow: rgb(255, 0, 0) 0 0 4px;
}
.build-led--gray::before {
	background-color: rgb(204, 204, 204);
	box-shadow: rgb(204, 204, 204) 0 0 4px;
}
