*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:focus,
a:active,
a:visited {
	color: #0073e7;
}

html {
	margin: 0;
	padding: 0;
}

button[disabled] {
	pointer-events: none;
	border: 1px solid #ccc;
	color: #ccc;
}

.popup-body {
	margin: 0;
	font-size: 16px;
	color: #000;
}

.popup {
	height: 570px;
	width: 700px;
	font-family: MetricWeb-Regular, arial, sans-serif;
}

.popup__header {
	display: flex;
	margin: 10px 10px 0 10px;
	background-color: #444;
	height: 50px;
	line-height: 30px;
    padding: 10px;
}

.popup__header__image {
	width: 30px;
	height: 30px;
}

.popup__header__title {
	margin-left: 5px;
	font-size: 25px;
	color: #fff;
}

.popup__header__version {
	margin-left: 4px;
	margin-top: 4px;
	font-size: 12px;
	color: #fff;
}

.popup__content {
	height: 450px;
	margin: 10px 10px 0 10px;
}

.popup__content__config {
	display: none;
	width: 100%;
	height: 100%;
	outline: none;
	background-color: #444;
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	line-height: 14px;
	overflow-y: auto;
	resize: none;
}
.popup.show-config .popup__content__config {
	display: block;
}

.popup__content__config--error {
	background-color: #600;
}

.popup__content__container {
	height: 100%;
	background-color: #fff;
	overflow: auto;
}

.popup__content__pr-line {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr;
	background-color: #eee;
	color: #333;
	padding: 16px;
}
.popup__content__pr-line:nth-child(even) {
	background-color: #ddd;
}

.popup__content__pr-line__top {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto 1fr;
	gap: 8px;
}

.popup__content__pr-state {
	position: relative;
	top: -2px;
	border-radius: 4px;
	padding: 2px 4px;
	color: #fff;
}
.popup__content__pr-state__open {
	background-color: #2da44e;
}
.popup__content__pr-state__closed {
	background-color: #8250df;
}

.popup__content__pr-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.popup__content__pr-line__bottom {
	margin-top: 8px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	gap: 10px;
}

.popup__footer {
	display: flex;
    justify-content: flex-end;
    margin: 10px;
	padding-top: 10px;
    border-top: 1px solid #ddd;
}

.popup__footer__button {
	margin-right: 0;
	margin-left: 10px;
	height: 25px;
	line-height: 23px;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    outline: none !important;
    font-size: 14px;
    cursor: pointer;
}

.popup.show-config .popup__footer__button__config,
.popup.show-config .popup__footer__button__go,
.popup.show-config .popup__content__container {
	display: none;
}
.popup:not(.show-config) .popup__footer__button__cancel,
.popup:not(.show-config) .popup__footer__button__defaults,
.popup:not(.show-config) .popup__footer__button__save {
	display: none;
}
